.grid-item {
    align-self: center;
    text-align: left;
    border: solid var(--primary);
    background-color: var(--light);
}

.grid-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    height: 30%;
}

.product-img {
    padding-bottom: 0.1em;
    padding: 1em 2em 0em 2em;
    border-bottom: #f2f2f2 solid 0.1em;
}

.product-details p,
h4 {
    margin-block-start: 0%;
    margin-block-end: 0%;
    padding-left: 1em;
}
