.product-sumary {
    text-align: left;
    padding-top: 2em;
}

.product-count,
.product-all {
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.product-details p,
.product-count {
    color: #b3b3b3;
}

.product-all {
    font-size: 1.5em;
    color: #5c5b5b;
}
